.custom-overlay-pane {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-30%);
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 300px;
    max-width: 500px;
    margin-right: 10px;
    display: none;  
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.overlay-title {
    font-size: 10pt;
    margin:0;
}

.curator-custom-anchor {
    padding: 4px 8px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: inherit;
    color: inherit;
    border: none;
    cursor: pointer;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

.overlay-container {
    margin-left: auto;
    display: flex;
    align-items: left;
    position: relative;
}